<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100" fxFlex.gt-sm="50">
    <md-input-container align="center" class="main-search">
      <input mdInput placeholder="Type ingredient here" #searchBox>
    </md-input-container>
    <div *ngIf="(ingredient.searchTerm$ | async) === ''" class="animated bounce">
      Type some ingredient like <strong class="typewriter" (click)="searchSampleString(sampleString)" #sampleString></strong>
    </div>
</div>
</div>
<div *ngIf="(ingredient.searchTerm$|async) !== ''">
  <loading-message
    *ngIf="ingredient.loading$ | async"
    [searchString]="ingredient.searchTerm$ | async">
  </loading-message>
  <div *ngIf="(ingredient.details$|async) || (ingredient.error$|async)" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap">
    <div fxFlex="100">
      <h2>
        Search results for
        <span class="search-string">
          {{ ingredient.searchTerm$ | async }}
          <a href="#" (click)="clearSearch($event)"><i class="fa fa-times-circle fa-fw" aria-hidden="true"></i></a>
        </span>
      </h2>
    </div>
    <div *ngIf="ingredient.error$ | async"
      fxLayoutAlign="center"
      fxFlex="100"
      fxFlex.gt-sm="50">
      No ingredient found by the name of {{ ingredient.searchTerm$ | async }}
    </div>
    <div *ngIf="ingredient.details$ | async" fxFlex="100" fxLayoutWrap="wrap" fxLayoutAlign="center" fxLayoutGap="10px">
      <md-card
        *ngFor="let ing of (ingredient.details$|async)?.item | paginate: { id: 'pagination', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
        class="ingredient-card"
        fxFlex="100"
        fxFlex.gt-xs="30"
        fxFlex.gt-md="15"
        [class.isSaved]="recipe.isIngredientSaved$(ing.ndbno) | async"
        (click)="searchIngredientDetails(ing)">
        <md-progress-bar *ngIf="ing.loadingDetails" mode="indeterminate" class="progress-bar"></md-progress-bar>
        <md-card-header>
          <md-card-title>{{ ing.title }}</md-card-title>
        </md-card-header>
        <md-card-content>{{ ing.name }}</md-card-content>
        <button md-mini-fab class="save-button" (click)="toggleIngredient(ing, $event)">
          <i class="fa fa-star-o" aria-hidden="true" *ngIf="!(recipe.isIngredientSaved$(ing.ndbno) | async)"></i>
          <i class="fa fa-star" aria-hidden="true" *ngIf="recipe.isIngredientSaved$(ing.ndbno) | async"></i>
        </button>
      </md-card>
    </div>
    <div fxFlex="100" *ngIf="paginationLoading" class="pagination-loading">
      <md-spinner></md-spinner>
    </div>
    <div fxFlex="100">
      <pagination-controls (pageChange)="changePage($event)" class="custom-pagination" id="pagination"></pagination-controls>
    </div>
  </div>
</div>
