@import '../../../../styles/variables';
@import '../../../../styles/shared';

.main-search {
  width: 100%;
}

/deep/ .mat-card-header-text {
  width: 100%;
}

.typewriter {
  display: inline-block;
  text-decoration: underline;

  &:hover {
    @extend %cta-light-button;
    cursor: pointer;
  }
}

.search-string {
  @extend %dark-container;
  display: inline-block;
  padding: 3px;
  padding-left: 6px;
  border-radius: 2px;

  a {
    color: map-get($primary-colors, link);
    // cursor: pointer;
  }
}

.ingredient-card {
  @extend %ingredient-card;

  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .save-button {
    position: absolute;
    bottom: 18px;
    margin-left: -20px;
  }
}
