@import '../../../styles/variables';

.loading-ingredients {
  @extend %light-container;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;

  md-spinner {
    margin: 0 auto;
    width: 20px;
    height: 20px;
  }
}
