<div class="sidebar-wrapper">
  <h3>Ingredients selected</h3>
  <em *ngIf="(recipe$|async)?.ingredients.size === 0; else ingredientsAdded">No ingredients added yet. Search something and add the ingredient using the <i class="fa fa-star" aria-hidden="true"></i> button</em>
  <ng-template #ingredientsAdded>
    <div class="sidebar-content">
      <ul>
        <li *ngFor="let ingredient of (recipe$|async)?.ingredients.values()" class="ingredient">
          {{ ingredient.name }} <a href="#" (click)="removeIngredient(ingredient.ndbno, $event)" class="remove-ingredient"><i class="fa fa-times" aria-hidden="true"></i></a>
        </li>
      </ul>
      <button class="search-recipes" md-raised-button (click)="searchRecipes()" [disabled]="(recipe$|async)?.loadingRecipes">
        <span *ngIf="!(recipe$|async)?.loadingRecipes">Search recipes</span>
        <i class="fa fa-circle-o-notch fa-spin fa-fw" *ngIf="(recipe$|async)?.loadingRecipes"></i>
      </button>
      <button md-button (click)="clearIngredientsList()">Clear list</button>
    </div>
  </ng-template>
</div>
