<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100" fxLayoutAlign="center">
    <loading-message [searchString]="query" *ngIf="(recipe.loading$|async)"></loading-message>
  </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px" fxLayoutAlign="left" class="recipe-wrapper">
  <div fxFlex="100" *ngIf="(recipe.hits$|async) && (recipe.length$|async) === 0 && !(recipe.loading$|async)">
    <recipe-result-text
       [resultsFound]="false"
      [query]="query"
      (onSearchRecipe)="searchRecipe($event)">
    </recipe-result-text>
  </div>
  <div fxFlex="100" *ngIf="(recipe.hits$|async) && (recipe.length$|async) > 0">
    <recipe-result-text
      [query]="query"
      [resultsFound]="true"
      (onSearchRecipe)="searchRecipe($event)">
    </recipe-result-text>
  </div>
  <md-card
    *ngFor="let r of (recipe.hits$|async) | paginate: { id: 'pagination', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
    class="recipe-card"
    fxFlex="100"
    [class.selected]="isSelected((recipe.selectedRecipe$|async), r)"
    [fxFlex.gt-sm]="isSelected((recipe.selectedRecipe$|async), r) ? 27: 25"
    [fxFlex.gt-md]="isSelected((recipe.selectedRecipe$|async), r) ? 18: 16"
    (click)="selectRecipe(r.name)">
    <md-card-header>
      <md-card-title>{{ r.name }}</md-card-title>
    </md-card-header>
    <img md-card-image [src]="r.img">
    <md-card-content>
      <div>{{ r.ingredients.join(', ') }}</div>
      <h5>Health labels:</h5>
      <span class="recipe-tag" *ngFor="let label of r.labels">{{ label }}</span>
    </md-card-content>
  </md-card>
  <div fxFlex="100" *ngIf="paginationLoading" class="pagination-loading">
    <md-spinner></md-spinner>
  </div>
  <div fxFlex="100" fxLayoutAlign="center">
    <pagination-controls (pageChange)="changePage($event)" class="custom-pagination" id="pagination"></pagination-controls>
  </div>
</div>
